.de-ts-bracket-preview {
    padding-bottom: 58px;
    .de-ts-cat-tab {
        margin-right: 12px;
        padding: 8px 12px;
        @include de-normal-text();
        border: 1px solid $de-border-color;
        box-sizing: border-box;
        border-radius: 4px;
        transition: $de-transition-default;
        background-color: transparent;
        &:hover,
        &.active {
            background-color: $de-border-color;
            color: $de-text-color;
        }
        &.de-round-number {
            min-width: 34px;
            height: 34px;
            margin-left: 12px;
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .de-ts-bracket-preview-top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .de-ts-bracket-preview-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        h4 {
            margin-bottom: 0;
            font-weight: 600;
        }
    }
    .de-notice {
        margin-bottom: 40px;
    }
    .de-bracket-round-title {
        @include de-title-text();
        font-weight: 500;
        text-align: center;
        margin-bottom: $de-spacer;
    }
    .de-seed-team {
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .de-ts-brackets-tab {
        .de-brackets-tabs {
            margin-bottom: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .de-bracket-preview-tab {
            .de-bracket-preview-tabs {
                padding: 32px 32px 0 32px;
                background: #120332;
                border-radius: $de-border-radius $de-border-radius 0 0;
                justify-content: space-between;
                border: 0;
                position: relative;
                &::before {
                    width: calc(100% - 64px);
                    height: 1px;
                    background-color: $de-border-color;
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 32px;
                }
                .nav-item {
                    width: calc(100% / 3);
                    .nav-link {
                        width: 100%;
                        background-color: transparent !important;
                        border: 0 !important;
                        @include de-title-text(0.5);
                        text-transform: uppercase;
                        padding: 0 32px 32px 32px;
                        text-align: center;
                        margin-bottom: 0;
                        &.active {
                            color: $de-state-color-gold;
                        }
                    }
                }
            }
            .de-bracket-tab-content {
                padding: 28px 32px 32px 32px;
                background: #120332;
                border-radius: 0 0 $de-border-radius $de-border-radius;
                .de-round-name {
                    margin-right: 16px;
                    font-weight: 500;
                    margin-bottom: 0;
                }
                .de-round-edit {
                    &::before {
                        display: none;
                    }
                    svg {
                        margin-left: 6px;
                        height: 16px;
                        width: 16px;
                    }
                }
                .de-round-title {
                    @include de-title-text(0.5);
                    text-transform: uppercase;
                }
            }
        }
    }
    .de-me-12px {
        margin-right: 12px;
    }
    table {
        tr {
            th {
                font-weight: 500;
                white-space: nowrap;
                padding: 24px;
                color: rgba($color: $de-text-color, $alpha: 0.5);
            }
        }
    }
}